.areas-atuacao {
  padding-top: 120px;
  padding-bottom: 120px;

  /* background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 35%,
    #3c3c3a 35%,
    #1d1d1b 70%,
    #ffffff 70%,
    #ffffff 100%
  ); */
}

/* .areas-atuacao::after {
  content: "";
  width: 100%;
  height: 300px;
  background: var(--cor-c2);
  display: block;
  position: absolute;
  z-index: -1;
  top: 1300px;
  box-sizing: border-box;
  border: 2px solid var(--cor-p1);
} */

.areas-atuacao h2 {
  /* margin-left: 160px; */
  /* margin-bottom: 40px; */
  /* text-align: left; */
}

.areas-atuacao p {
}

.areas-atuacao__conteudo {
  grid-column: 2 / 6;
}

.areas-atuacao__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 0px 20px;
}

.areas-atuacao__galeria {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 80px;
  position: relative;
}

.galeria__bg {
  background: var(--cor-c2);
  width: 100vw;
  height: 212px;
  border-top: 3px solid var(--cor-p1);
  border-bottom: 3px solid var(--cor-p1);
  position: absolute;
  /* grid-column: 1 / -1; */
  z-index: -1;
  top: 20px;
  flex-shrink: 1;
}

.areas-atuacao__galeria img {
  width: 260px;
  border: 10px solid var(--cor-p1);
  flex: 1 1;
  box-sizing: border-box;
}

.areas-atuacao__galeria img::before {
  content: "Trabalhista";
  display: inline-block;
  background: var(--cor-p1);
}

.areas-atuacao__ver-todas {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 400px) {
  .areas-atuacao {
    padding-top: 40px;
  }

  .areas-atuacao__container {
    gap: 12px;
  }

  .areas-atuacao__conteudo {
    grid-column: 1 / -1;
  }

  .areas-atuacao__container h2 {
    font-size: 2rem;
    /* margin-left: 20px; */
    /* margin-bottom: 24px; */
  }
  .areas-atuacao p {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .areas-atuacao__galeria {
    margin-bottom: 16px;
    gap: 24px;
  }

  .galeria__bg {
    height: 80px;
    border-top: 2px solid var(--cor-p1);
    border-bottom: 2px solid var(--cor-p1);
    position: absolute;
    /* grid-column: 1 / -1; */
    z-index: -1;
    top: 12px;
    flex-shrink: 1;
  }

  .areas-atuacao__galeria span {
    font-size: 0.75rem;
  }

  .areas-atuacao__galeria img {
    border: 3px solid var(--cor-p1);
  }
  .areas-atuacao__ver-todas a {
    font-size: 1rem;
  }
}
