.areas {
  padding-top: 80px;
  padding-bottom: 80px;
}

.areas__conteudo {
  margin-bottom: 80px;
}

.areas__conteudo p {
  max-width: 82ch;
}

.areas__galeria {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  margin-bottom: 80px;
}

.areas__galeria::before {
  content: "";
  width: 100vw;
  height: 90%;
  background: var(--cor-c2);
  display: block;
  position: absolute;
  z-index: -1;
  top: 20px;
  box-shadow: 0 3px 0 var(--cor-p1), 0 -3px 0 var(--cor-p1);
  flex: 1;
}

.areas__galeria__img {
  max-width: 360px;
  border: 4px solid var(--cor-p1);
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.2s;
  /* object-fit: cover; */
}

/* span[data-descr]:hover::after  */

.areas__galeria__img::after {
  content: "Trabalhista";
  width: 160px;
  display: block;
  position: absolute;
  background: var(--cor-p1);
  padding: 8px;
  color: var(--cor-c2);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  font: 500 1.25rem/1.4 "Barlow", sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  flex: 1;
  transition: 0.2s;
}

.areas__galeria__img:nth-child(2)::after {
  content: "Tributário";
}

.areas__galeria__img:last-child::after {
  content: "Criminal";
}

.areas__galeria__img::before {
  content: "";
  display: block;
  width: 50px;
  height: 10px;
  background: var(--cor-p1);
  position: absolute;
  top: 30px;
  transition: 0.2s;
}

.areas__galeria__img:hover {
  box-shadow: 0 0 0 2px #f5d861;
  border-color: #f5d861;
}

.areas__galeria__img:hover::after,
.areas__galeria__img:hover::before {
  background-color: #f5d861;
}

.areas__link {
  display: flex;
  justify-content: center;
}

.areas__link a::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--cor-c2);
  display: block;
  transition: 0.2s;
}

.areas__link a:hover::after {
  background-color: var(--cor-p1);
}

/* Media queries */
@media (max-width: 800px) {
  .areas {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .areas__conteudo {
    margin-bottom: 40px;
  }
  .areas__conteudo h2 {
    font: 500 2rem/1.5 "Poppins", sans-serif;
  }
  .areas__conteudo p {
    font-size: 1rem;
    width: 100%;
  }
  .areas__galeria {
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }
  .areas__galeria::before {
    height: 82%;
  }

  .areas__galeria__img {
    border: 2.5px solid var(--cor-p1);
  }

  .areas__galeria__img::after {
    font-size: 1rem;
    letter-spacing: 0.015em;
    width: 110px;
  }

  .areas__galeria__img::before {
    width: 40px;
    height: 4px;
  }

  .areas__link a {
    font-size: 1.25rem;
  }

  .areas__link a::after {
    content: "";
    width: 100%;
    height: 2.5px;
  }
}

@media (max-width: 500px) {
  .areas {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .areas__conteudo {
    margin-bottom: 20px;
  }
  .areas__conteudo h2 {
    font-size: 1.875rem;
  }

  .areas__galeria {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .areas__galeria::before {
    height: 92%;
  }

  .areas__galeria__img {
    border: 2.5px solid var(--cor-p1);
  }

  .areas__galeria__img {
    max-width: 160px;
  }

  .areas__galeria__img::after {
    font-size: 0.75rem;
    letter-spacing: 0.015em;
    width: 80px;
  }

  .areas__galeria__img::before {
    width: 40px;
    height: 4px;
  }

  .areas__link a {
    font-size: 1rem;
  }
}
