.font-1-xxl {
  font: 700 5rem/1.18 "Poppins", sans-serif;
}

.font-1-xl {
  font: 700 3rem/1.12 "Poppins", sans-serif;
}

.font-1-l {
  font: 500 1rem/1.5 "Poppins", sans-serif;
}

.font-2-x {
  font: 500 1.25rem/1.4 "Barlow", sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}
