/* .introducao__bg {
  background: url("../../img/home/bg/BGLimpo2xDesfoqueOverlay80.jpg") left top;
  background-size: cover;
} */

.introducao {
  gap: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.introducao h1 {
  margin-bottom: 120px;
}

.introducao__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 128px;
}

.introducao__links a {
  flex: 1;
  padding: 12px 80px;
  border: 1px solid var(--cor-c1);
  white-space: nowrap;

  display: inline-block;
  text-align: center;
  /* box-sizing: content-box; */
}

.introducao__links a:hover {
  /* box-shadow: 0 0 0 2px var(--cor-p1); */
  border-color: var(--cor-p1);
  color: var(--cor-p1);
}

.introducao__seta {
  display: flex;
  justify-content: center;
}

.introducao__seta img {
  transition: 300ms;
}

.introducao__seta img:hover {
  transform: translatey(8px);
  cursor: pointer;
}

@media (max-width: 800px) {
  .introducao {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .introducao h1 {
    font-size: 4rem;
    margin-bottom: 60px;
  }

  .introducao__links {
    gap: 28px;
    margin-bottom: 60px;
  }

  .introducao__links a {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .introducao {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .introducao h1 {
    font-size: 2.5rem;
    margin-bottom: 28px;
  }

  .introducao__links {
    gap: 16px;
    margin-bottom: 28px;
  }

  .introducao__links a {
    font-size: 0.875rem;
  }
}
